@import "variables";

$orbit-height: 400px; 


.content-block{
  border-top: 1px solid $secondary-color;
  margin-top: 20px;
  height: 400px;
}


.myorbit li{
  padding-left: 20px;
  height: $orbit-height;
  line-height: $orbit-height;
}

  #social a{
     font-style: italic;
     color: $secondary-color;
  }

  #social{
	margin-right: 50px;
  }
